

:root{
    --border-radius: 10px;
    --status-1: #865858;
    --status-2: #8e7f7f;
    --status-3: #bbbbbb;
    --status-4: #d1b8b8;
}

body{
    min-width: 620px;
    background: #eeebdd;
    font-family: 'Ubuntu', sans-serif;
    
}

h3 {
    text-align: center;
}

.board {
    border: solid 1px #eee;
    border-radius: 5px;
    margin: 15px 0 15px;
    background: #ffffff90;

}
/* NAVBAR */

#title .container-fluid {
    padding: 5px 4%;
    text-align: left;
    background-color: whitesmoke;
    font-weight: bold;
    font-size:large
}

.navbar-brand {
    font-size: 2rem;
}

/* Add new Board Button */

.add-board-button, .board-archived{
    background-color: whitesmoke;
    color: black;
    margin: 13px auto 0;
}

/* LOGIN Page */

.content-section {
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

.border-top {
    text-align: center;
}

  /* Register Section */

  #register-form
{
    width: 500px;
    margin: 20px auto;
}

.form-group
{
    width:  250px;
    margin: 10px auto;
}

.form-group input
{
    transition: 0.3s linear;
}

.form-group input:focus
{
    border: 1px solid crimson;
    box-shadow: 0 0 0 0;
}

.Error
{
    color: crimson;
    font-size: 13px;
}
/* DESIGN */

h1, .board-title, .board-column-title{
    font-weight: 100;
}

h1{
    text-align: center;
    font-size: 4em;
    letter-spacing: 5px;
    transform: scale(1.2, 1);
}

button{
    background: #222;
    color: #fff;
    border: none;
    font-size: 14px;
    font-family: sans-serif;
    padding: 4px 10px;
}

.container {
    margin: 0 auto;
    background-color: #eeebdd;
}

#boards{
    margin: 20px;
    background: #eeebdd;
    border-radius: 3px;
}

.board-header{
    display: flex;
    background: #fff;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    margin: 0 auto 0;

}

.board-title{
    margin: 13px;
    display: inline-block;
    font-size: 20px;
}
.board-title, .board-delete, .board-toggle, .column-remove, .save-status-btn, .card-save-btn, #new-board-title, .save-boardname-btn, .board-archived {
    border-radius: 0.6rem;
}

input.column-add-input, input.card-add-input {
    border: 1px solid;
    border-radius: 0.5rem;
    margin-bottom: 0.8rem;

}
.board-add {
    border-radius: 0.6rem;
    margin-bottom: 0.6rem;
}

.column-remove {
    padding: 1px 3px 0 3px;
    background-color: #eeebdd;
    color: black;
    margin-bottom: 0;
    float: right;
}

.board-delete, .board-toggle {
    float: right;
    /*margin: 7px;*/
}


.board-column{
    padding: 10px;
    flex: 1;
    max-width: 25%;
}


.board-column-content{
    min-height: 49px;
}

.board-column-content:empty{
    border: 4px solid #cdcdcd;
    margin-top: 4px;
    border-radius: 10px;
    background: #eee;
}

.board-column-title{
    text-align: center;

}

.card{
    flex-direction: row;
    justify-content: flex-start;
    color: #fff;
    border-radius: var(--border-radius);
    margin: 4px 0;
    padding: 4px;

}

.card:hover {
    cursor:grab;
    opacity: 0.6;
}

.board-column .card {
    background: #ac8f8c;
    color: #fff;
}

.board-column:nth-of-type(1) .card{
    background: var(--status-1);
}

.board-column:nth-of-type(2) .card{
    background: var(--status-2);
}

.board-column:nth-of-type(3) .card{
    background: var(--status-3);
}

.board-column:nth-of-type(4) .card{
    background: var(--status-4);
}

.card-remove, .card-archive {
    float: right;
    padding: 5px;
    top: 5px;
    right: 6px;
    bottom: 5px;
    font-size: 12px;
    
    cursor: pointer;
}

.card-title{
    display: inline-block;
    padding-right: 16px;
    margin-bottom: 0.2rem;
}

.card-icons {
    width:fit-content;
    height:fit-content;


}


.new-board-container {
    margin: 13px 20px 6px;
    width: 96.4%;

}


.board-columns {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;

}

.board-specific {
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-top: 11px;

}


.hidden {
    display: none;
}

.board-toggle{
    margin-left: 5px;
    margin-right: 4px;
}

.board-delete {
    margin-right: 4px;
}

#archived_section {
    margin-top: 100px;
    margin-left: 20px;
}