

:root{
    --border-radius: 10px;
    --status-1: #865858;
    --status-2: #8e7f7f;
    --status-3: #bbbbbb;
    --status-4: #d1b8b8;
}

body{
    min-width: 620px;
    background: #eeebdd;
    font-family: 'Ubuntu', sans-serif;
    
}

/* NAVBAR */

#title .container-fluid {
    padding: 5px 4%;
    text-align: left;
    background-color: whitesmoke;
    font-weight: bold;
    font-size:large
}

.navbar-brand {
    font-size: 2rem;
}

/* Add new Board Button */

.add-board-button {
    background-color: whitesmoke;
    color: black;
    margin: 13px auto 6px;
}

/* LOGIN Page */

.content-section {
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

  /* Register Section */

  #register-form
{
    width: 500px;
    margin: 20px auto;
}

.form-group
{
    width:  250px;
    margin: 10px auto;
}

.form-group input
{
    transition: 0.3s linear;
}

.form-group input:focus
{
    border: 1px solid crimson;
    box-shadow: 0 0 0 0;
}

.Error
{
    color: crimson;
    font-size: 13px;
}
/* DESIGN */

h1, .board-title, .board-column-title{
    font-weight: 100;
}

h1{
    text-align: center;
    font-size: 4em;
    letter-spacing: 5px;
    transform: scale(1.2, 1);
}

button{
    background: #222;
    color: #fff;
    border: none;
    font-size: 14px;
    font-family: sans-serif;
    padding: 4px 10px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

#boards{
    margin: 20px;
    border: aliceblue;
    background: #ffffff90;
    border-radius: 3px;
}

.board-header{
    height: 50px;
    background: #fff;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    margin: 20px auto;

}

.board-title{
    margin: 13px;
    display: inline-block;
    font-size: 20px;
}
.board-title, .board-add, .board-delete, .board-toggle, .column-delete, .column-add, .save-status-btn, .card-save-btn, #new-board-title, .save-boardname-btn{
    display: inline-block;
    border-radius: 0.6rem;
    margin-bottom: 0.6rem;
}

.board-delete, .board-toggle {
    float: right;
    margin: 7px;
}

.board-columns {
    display: flex;
    /*flex-wrap: nowrap;*/
}


.board-column{
    padding: 10px;
    flex: 1;
}


.board-column-content{
    min-height: 49px;
}

.board-column-content:empty{
    /*This only works if the tag is really empty and there is not even whitespace inside*/
    border: 4px solid #cdcdcd;
    margin-top: 4px;
    border-radius: 10px;
    background: #eee;
}

.board-column-title{
    text-align: center;
}

.card{
    position: relative;
    color: #fff;
    border-radius: var(--border-radius);
    margin: 4px 0;
    padding: 4px;
}

.card:hover {
    cursor:grab;
    opacity: 0.6;
}

.board-column:nth-of-type(1) .card{
    background: var(--status-1);
}

.board-column:nth-of-type(2) .card{
    background: var(--status-2);
}

.board-column:nth-of-type(3) .card{
    background: var(--status-3);
}

.board-column:nth-of-type(4) .card{
    background: var(--status-4);
}

.card-remove, .card-archive{
    display: inline-block;
    float: right;
    padding: 5px;
    top: 5px;
    right: 6px;
    bottom: 5px;
    font-size: 12px;
    
    cursor: pointer;
}

.card-title{
    padding-right: 16px;
    margin-bottom: 0.2rem;
}

.hidden {
    display: none;
}

.new-board-container {
    max-width: 960px;
    margin: 13px 20px 6px;
    width: 96.4%;

}

.board-columns {
    display: flex;
    justify-content: flex-start;

}