{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="new-board-container">
        <button type="button" class="add-board-button btn btn-outline-dark btn-md board-add" id="new-board-btn">Add New Board</button>
        <div class="new-board-input hidden">
        <input id="new-board-title" value="" placeholder="Title">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">Private</label>
        </div>
        <button type="button" class="btn btn-outline-dark btn-sm board-add" id="save-newboard-btn">Save</button>
        </div>
    </div>

<h3>Public boards</h3>
<section id="boards">

</section>
<h3>Private boards</h3>
<section id="private_boards">

</section>
<section id="archived_section">
    <button type="button" class="btn btn-outline-dark btn-md board-archived" id="show-archived-cards">Show Archived Cards</button>
</section>

</div>
{% endblock %}